/* Supprime toutes les marges et force le plein écran */
/* Pourquoi ? Par défaut, le navigateur ajoute des marges et le fond est blanc */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;          /* empêche les scrollbars blancs */
  background-color: #000510; /* fond noir pendant le chargement des textures */
}

#root {
  width: 100%;
  height: 100%;
}